.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background: linear-gradient(#b7acb9, #ebebeb);
}

.title {
    font-size: 85px;
    color: rgb(0, 0, 0);
    animation: flipTitle 2s ease-out;
}
@keyframes flipTitle{
    from {
        transform: rotateX(90deg);
    } to {
        transform: rotateX(0deg);
    }   
}

.containerInput {
    background-color: #8d649793;
    display: flex;
    padding: 15px;
    margin: 34px 0;
    border-radius: 8px;
}
.containerInput input {
    background: transparent;
    color: white;
    font-size: 20px;
    outline: none;
    margin: 0 10px 0 0;
    border: 0;
}
.containerInput input::placeholder {
    color: rgba(255, 255, 255, 0.445);
}

.buttonSearch {
    background-color: transparent;
    display: flex;
    cursor: pointer;
    border: 0;
    transition: transform 0.5s;
}
.buttonSearch:hover {
    transform: scale(1.2);
}

.main {
    background-color: #a390a7;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    min-height: 100px;
}
.main h2 {
    color: rgb(34, 29, 34);
    margin: 16px 0;
    font-size: 39px;
}
.main span {
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

@media (max-width: 620px){
    .title {font-size: 50px;}
    .main {width: 80%;}
    .main h2 {font-size: 20px;}
}